*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# emacs files, apple files
*~
\#*#
.#*
.DS_Store

# project files
.gradle/
.idea/workspace.xml
.idea/tasks.xml
build/
target/
out/
# intellij personal project settings:
springdo.ipr

# documentation output
doc/*.html


# merge and patch files
*.orig
*.rej
*.patch
